﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TravelHen</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @* @Html.ActionLink("TravelHen", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                    <img src="../../Content/Images/logo.png" title="TravelHen" alt="TravelHenLogo" height="20em" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @{if (TravelHen_Auth.Person.GetByEmail(User.Identity.Name) != null)
                        {
                        <li>@Html.ActionLink("Travels", "Index", "Travels")</li>

                            if ((TravelHen_Auth.Person.GetByEmail(User.Identity.Name).IsInRole("Buchhalter") || TravelHen_Auth.Person.GetByEmail(User.Identity.Name).IsInRole("Admin") || TravelHen_Auth.Person.GetByEmail(User.Identity.Name).IsInRole("Manager")))
                            {
                            <li>@Html.ActionLink("Employees", "Index", "People")</li>
                            }
                            else if (TravelHen_Auth.Person.GetByEmail(User.Identity.Name).IsInRole("Employee"))
                            {
                            <li>@Html.ActionLink("Personal details", $"Details/{ TravelHen_Auth.Person.GetByEmail(User.Identity.Name).PersonID}", "People")</li>
                            }
                            if ((TravelHen_Auth.Person.GetByEmail(User.Identity.Name).IsInRole("Buchhalter") || TravelHen_Auth.Person.GetByEmail(User.Identity.Name).IsInRole("Admin")))
                            {
                            <li>
                                <a data-toggle="dropdown" href="#">Administrative tools<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Tools", "Index", "Tools")</li>
                                    <li>@Html.ActionLink("Travel Expenses", "Index", "TravelExpens")</li>
                                    <li>@Html.ActionLink("Files", "Index", "Files")</li>
                                    <li>@Html.ActionLink("Logs", "Index", "Logs")</li>
                                </ul>
                            </li>
                                

                                @*<li>@Html.ActionLink("Tools", "Index", "Tools")</li>
                                <li>@Html.ActionLink("Travel Expenses", "Index", "TravelExpens")</li>
                                <li>@Html.ActionLink("Files", "Index", "Files")</li>
                                <li>@Html.ActionLink("Logs", "Index", "Logs")</li>*@
                            }
                        }
                        }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TravelHen™  <a href="https://chickenonaraft.com" target="_blank">🐔</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
