﻿@model IEnumerable<TravelHen_Auth.Role>

@{
    ViewBag.Title = "Index";
}

@Html.Partial("../Tools/vilkuvjulla")

<h2>Roles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-2cols">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Role item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RoleID }) |
                @Html.ActionLink("Details", "Details", new { id = item.RoleID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RoleID })
            </td>
        </tr>
}
    </tbody>
</table>
