﻿@model TravelHen_Auth.File

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this file?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Filename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Filename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Filetype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Filetype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contenttype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contenttype)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-travelhen" />
        @Html.Partial("BackToFiles")
    </div>
    }
</div>
