﻿@model TravelHen_Auth.File

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>File</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Filename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Filename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Filetype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Filetype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contenttype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contenttype)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FileID }, new { @class="fancybutton" })
    @Html.Partial("BackToFiles")
</p>
