﻿@model IEnumerable<TravelHen_Auth.File>

@{
    ViewBag.Title = "Index";
}

<h2>Files</h2>

<p>
    @Html.ActionLink("Add New", "Create", null, new { @class = "fancybutton-med" })
</p>
<table class="table travelhen_table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Filename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filetype)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Contenttype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>*@
            <th>
                Image preview
            </th>
            <th>
                Use
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Filename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Filetype)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Contenttype)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>*@
            <td>
                <a href='@Url.Action("Content", new { id = item.FileID})' target="_blank">
                    <img src='@Url.Action("Content", new { id = item.FileID })' class="dynamicImage img-rounded" />
                </a>
            </td>
            <td>
                 @if(ViewBag.TravelExpenseIDs.ContainsKey(item.FileID) == true)
                 {
                     @Html.ActionLink("Travel details", "../Travels/Details", new { id = ViewBag.TravelExpenseIDs[item.FileID] }, new { target = "_blank" }) 
                 }
                 else if(ViewBag.EmployeeIDs.ContainsKey(item.FileID)== true)
                 {
                     @Html.ActionLink("Employee details", "../People/Details", new { id = ViewBag.EmployeeIDs[item.FileID] }, new { target = "_blank" }) 
                 }
                 else if(ViewBag.Travels.Contains(item.FileID)== true)
                 {
                     @Html.ActionLink("Travel details", "../Travels/Details", new { id = ViewBag.TravelExpenseIDs[item.FileID] }, new { target = "_blank" }) 
                     
                 }
                 else { <span class="notokthing">FAIL IS NOT IN USE</span>}
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.FileID }, new { @class = "fancybutton-left" }) 
                @Html.ActionLink("Details", "Details", new { id = item.FileID }, new { @class = "fancybutton-middle" }) 
                @Html.ActionLink("Delete", "Delete", new { id = item.FileID }, new { @class = "fancybutton-right" })
            </td>
        </tr>
        }
    </tbody>
</table>
