﻿@{
    ViewBag.Title = "Index";
}

<h2>Tools</h2>

<h3>Departments</h3>
<p>
    @Html.ActionLink("Add New", "../Departments/Create", null, new { @class = "fancybutton fancybutton-med" })
</p>
<table class="table table-2cols travelhen_table">
    <thead>
        <tr>
            <th>
                Department name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var department in ViewBag.Departments)
        {
            <tr>
                <td>@department.DepartmentName</td>
                <td>
                    @Html.ActionLink("Edit", "../Departments/Edit", new { id = department.DepartmentID }, new { @class = "fancybutton-left" })
                    @Html.ActionLink("Details", "../Departments/Details", new { id = department.DepartmentID }, new { @class = "fancybutton-middle" })
                    @Html.ActionLink("Delete", "../Departments/Delete", new { id = department.DepartmentID }, new { @class = "fancybutton-right" })
                </td>
            </tr>
        }
    </tbody>
</table>

<h3>Expenses</h3>
<p>
    @Html.ActionLink("Add New", "../Expens/Create", null, new { @class = "fancybutton fancybutton-med" })
</p>
<table class="table table-2cols travelhen_table">
    <thead>
        <tr>
            <th>
                Expense name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var expense in ViewBag.Expenses)
        {
            <tr>
                <td>@expense.ExpenseName (@expense.ExpenseID)</td>
                <td>
                    @Html.ActionLink("Edit", "../Expens/Edit", new { id = expense.ExpenseID }, new { @class = "fancybutton-left" })
                    @Html.ActionLink("Details", "../Expens/Details", new { id = expense.ExpenseID }, new { @class = "fancybutton-middle" })
                    @Html.ActionLink("Delete", "../Expens/Delete", new { id = expense.ExpenseID }, new { @class = "fancybutton-right" })
                </td>
            </tr>
        }
    </tbody>
</table>

<h3>Roles</h3>
<p>
    @Html.ActionLink("Add New", "../Roles/Create", null, new { @class = "fancybutton fancybutton-med" })
</p>
<table class="table table-2cols travelhen_table">
    <thead>
        <tr>
            <th>
                Role name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in ViewBag.Roles)
        {
            <tr>
                <td>
                    @role.RoleName
                </td>
                <td>
                    @Html.ActionLink("Edit", "../Roles/Edit", new { id = role.RoleID }, new { @class = "fancybutton-left" })
                    @Html.ActionLink("Details", "../Roles/Details", new { id = role.RoleID }, new { @class = "fancybutton-middle" })
                    @Html.ActionLink("Delete", "../Roles/Delete", new { id = role.RoleID }, new { @class = "fancybutton-right" })
                </td>
            </tr>
        }
    </tbody>
</table>