﻿@model TravelHen_Auth.Travel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Travel</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.PersonID, "Isikukood", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @{ if ((TravelHen_Auth.Person.GetByEmail(User.Identity.Name).IsInRole("Buchhalter") || TravelHen_Auth.Person.GetByEmail(User.Identity.Name).IsInRole("Admin") || TravelHen_Auth.Person.GetByEmail(User.Identity.Name).IsInRole("Manager")))
                {
                    @Html.DropDownList("PersonID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PersonID, "", new { @class = "text-danger" })
                }
                else
                {
                    @Html.Label(TravelHen_Auth.Person.GetByEmail(User.Identity.Name).IK, new { @class = "form-control", @readonly = "readonly" })
                    @Html.HiddenFor(model => model.PersonID, new { @Value = TravelHen_Auth.Person.GetByEmail(User.Identity.Name).PersonID, @class = "form-control", @readonly = "readonly" })
                }
            }
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Place, "Place ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Place, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Place, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            <span class="text-danger">@ViewBag.ErrorMessage</span>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-travelhen" />
        </div>
    </div>
</div>


<div>
    @Html.Partial("BackToTravels")
</div>
}

