﻿@model TravelHen_Auth.Travel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
@if (Model.State != "a" || Model.State != "u" || Model.State != "r")
{
    <h3>Are you sure you want to delete this Travel?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Place)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Place)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Confirmed)
            </dt>

            <dd>
                @if (Model.Confirmed == true)
                {
                    <span class="okthing">Approved</span>
                }
                else if (Model.Confirmed == false)
                {
                    <span class="notokthing">Denied</span>
                }
                else
                {
                    <span class="mehthing">Not reviewed</span>
                }
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Person.IK)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Person.IK)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-travelhen" />
                @Html.Partial("BackToTravels")
            </div>
        }
    </div>
}
@Html.Partial("BackToTravels")