﻿@model TravelHen_Auth.Travel
@{Person CurrentUser = TravelHen_Auth.Person.GetByEmail(User.Identity.Name); }
@{
    ViewBag.Title = "Details";
}

<h2>Travel Details</h2>


@if ((Model.State == null || Model.State == "d") && (CurrentUser.IsInRole("Buchhalter") || CurrentUser.IsInRole("Manager") || CurrentUser.PersonID == Model.PersonID))
{
    <div class="row">
        <h4>
            @Html.ActionLink("Edit", "Edit", new { id = Model.TravelID }, new { @class = "fancybutton" })
        </h4>
    </div>
}

@if (Model.State == "s")
{

    if (CurrentUser.IsInRole("Manager"))
    {
        <div class="row">
            <h4>
                @Html.ActionLink("Edit", "Edit", new { id = Model.TravelID }, new { @class = "fancybutton" })
            </h4>
        </div>
    }
}

<hr />

<div class="row">
    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Place)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Place)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.State)
            </dt>

            <dd>
                @switch (Model.State)
                {
                    case null:
                        <span class="unsubmitted">Not submitted to manager</span>
                        break;
                    case "s":
                        <span class="mehthing">Submitted for review by manager</span>
                        break;
                    case "c":
                        <span class="okthing">Approved for reimburesement</span>
                        break;
                    case "d":
                        <span class="notokthing">Reimbursement denied</span>
                        break;
                    case "f":
                        <span class="reimbursed">Costs reimbursed</span>
                        break;
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Person.IK)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Person.IK)
            </dd>

        </dl>
    </div>
</div>

@Html.Partial("TravelExpenses")



<p>
    @Html.Partial("BackToTravels")
</p>
