﻿@model TravelHen_Auth.Travel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Travel</h2>

@{Person CurrentUser = TravelHen_Auth.Person.GetByEmail(User.Identity.Name); }

@*/Tavaline vaateväli/*@
@if (Model.State == null || Model.State == "d")
{
    <div class="row">
        <div class="col-lg-6">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Travel</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.TravelID)

                    <div class="form-group" hidden>
                        @Html.LabelFor(model => model.PersonID, "PersonID", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("PersonID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PersonID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Place, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Place, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Place, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                            <span class="text-danger">@ViewBag.ErrorMessage</span>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group" hidden>
                        @Html.LabelFor(model => model.Confirmed, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Confirmed, "ConfirmDropdown")
                            @Html.ValidationMessageFor(model => model.Confirmed, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-travelhen" />
                        </div>
                    </div>
                </div>
            }
            @{ Html.EndForm(); }
        </div>
        <div class="col-lg-6">
            @if (Model.State == null || Model.State == "d")
            {
                using (Html.BeginForm("Submit", "Travels", new { id = Model.TravelID }))
                {
                    <button type="submit" name="button" value="" class="btn btn-travelhen">Submit for review</button>
                }
                { Html.EndForm(); }
            }
        </div>
    </div>

    <p>
        @Html.ActionLink("Add New", "../TravelExpens/Create", new { id = Model.TravelID }, new { @class = "fancybutton fancybutton-med" })
    </p>

    @Html.Partial("TravelExpenses")

}

@* Manageri ja raamatupidaja edit väli *@
@if ((Model.State == "s" && CurrentUser.IsInRole("Manager")) || (Model.State == "c" && CurrentUser.IsInRole("Buchhalter")))
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Travel</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.TravelID)

            <div class="form-group">
                @Html.LabelFor(model => model.PersonID, "PersonID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("PersonID", null, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.PersonID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Place, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Place, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Place, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                    <span class="text-danger">@ViewBag.ErrorMessage</span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Confirmed, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @if (Model.State == "s" && CurrentUser.IsInRole("Manager"))
                    {
                        @Html.EditorFor(model => model.Confirmed, "ConfirmDropdown")
                    }
                    else
                    {
                        @Html.EditorFor(model => model.Confirmed, "ConfirmDropdown", new { @readonly = "readonly" })
                    }
                    @Html.ValidationMessageFor(model => model.Confirmed, "", new { @class = "text-danger" })
                </div>
            </div>

            @if (Model.State == "s" && CurrentUser.IsInRole("Manager"))
            {
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-travelhen" />
                    </div>
                </div>
            }

        </div>
    }
    { Html.EndForm(); }


    if (Model.State == "c" && CurrentUser.IsInRole("Buchhalter"))
    {
        @Html.Partial("Reimburse")
    }

    @Html.Partial("TravelExpenses")

}

<div>
    @Html.Partial("BackToTravels")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}