﻿@*@model IEnumerable<TravelHen_Auth.Travel>*@
@model PagedList.IPagedList<TravelHen_Auth.Travel>
@using PagedList.Mvc;
@using Microsoft.AspNet.Identity


@{
    ViewBag.Title = "Index";
}

<h2>Travels</h2>

@*@using (Html.BeginForm("Modernizer", "Travels"))
    {
        <button type="submit" name="button" value="" class="btn btn-travelhen">MODERNIZE</button>
    }*@
@{ Html.EndForm(); }

<p>
    @Html.ActionLink("Add New", "Create", null, new { @class = "fancybutton fancybutton-med" })
</p>
<p>
    @using (Html.BeginForm())
    {
        <span>Find by name, place or description: </span>
        <div class="row">
            <div class="col-md-3">
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                <input type="submit" value="Search" class="btn btn-travelhen" />
            </div>
        </div>
    }
</p>
<table class="table travelhen_table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSort, CurrentFilet = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Place", "Index", new { sortOrder = ViewBag.PlaceSort, CurrentFilet = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Description", "Index", new { sortOrder = ViewBag.DescriptionSort, CurrentFilet = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Start date", "Index", new { sortOrder = ViewBag.StartDateSort, CurrentFilet = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("End date", "Index", new { sortOrder = ViewBag.EndDateSort, CurrentFilet = ViewBag.CurrentFilter })
            </th>
            <th>
                State
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (Travel item in Model)
        {
            <tr>
                <td>
                    @TravelHen_Auth.Models.Vahendid.FullNamer(item.Person.LastName, item.Person.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>

                <td>
                    @switch (item.State)
                    {
                        case null:
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <span class="unsubmitted">Not submitted</span>
                                    </div>
                                    <div class="flip-card-back-unsubmitted">
                                        <span style="font-size:2em">🤔💻</span>
                                    </div>
                                </div>
                            </div>
                            break;
                        case "s":
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <span class="mehthing">Submitted</span>
                                    </div>
                                    <div class="flip-card-back-meh">
                                        <span style="font-size:2em">😰🤞</span>
                                    </div>
                                </div>
                            </div>
                            break;
                        case "c":
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <span class="okthing">Approved</span>
                                    </div>
                                    <div class="flip-card-back-OK">
                                        <span style="font-size:2em">😊👍</span>
                                    </div>
                                </div>
                            </div>
                            break;
                        case "d":
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <span class="notokthing">Denied</span>
                                    </div>
                                    <div class="flip-card-back-notOK">
                                        <span style="font-size:2em">😞👎</span>
                                    </div>
                                </div>
                            </div>
                            break;
                        case "f":
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <span class="reimbursed">Reimbursed</span>
                                    </div>
                                    <div class="flip-card-back-reimbursed">
                                        <span style="font-size:2em">😊👌</span>
                                    </div>
                                </div>
                            </div>
                            break;
                    }
                </td>
                <td>
                    @if (((item.State == null || item.State == "d")
                        && (@TravelHen_Auth.Person.GetByEmail(User.Identity.GetUserName()).PersonID == item.Person.PersonID || @TravelHen_Auth.Person.GetByEmail(User.Identity.GetUserName()).IsInRole("Buchhalter")))
                        || (item.State == "s" && @TravelHen_Auth.Person.GetByEmail(User.Identity.GetUserName()).IsInRole("Manager")))
                    {
                        @Html.ActionLink("Edit", "../Travels/Edit", new { id = item.TravelID }, new { @class = "fancybutton-left" })
                        @Html.ActionLink("Details", "../Travels/Details", new { id = item.TravelID }, new { @class = "fancybutton-middle" })
                        @Html.ActionLink("Delete", "../Travels/Delete", new { id = item.TravelID }, new { @class = "fancybutton-right" })
                    }
                    else if (item.State == "c" && @TravelHen_Auth.Person.GetByEmail(User.Identity.GetUserName()).IsInRole("Buchhalter"))
                    {
                        @Html.ActionLink("Edit", "../Travels/Edit", new { id = item.TravelID }, new { @class = "fancybutton-left" })
                        @Html.ActionLink("Details", "../Travels/Details", new { id = item.TravelID }, new { @class = "fancybutton-right" })
                    }
                    else
                    {
                        @Html.ActionLink("Details", "../Travels/Details", new { id = item.TravelID }, new { @class = "fancybutton" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
