﻿@{ Travel seeReis = Model;}

@{Person CurrentUser = TravelHen_Auth.Person.GetByEmail(User.Identity.Name); }

@{ if (CurrentUser.IsInRole("Buchhalter"))
    {
        if (seeReis.Confirmed == true && seeReis.State == "c")
        {
            if (ViewBag.TravelExpenses.Count != 0)
            {
                TravelExpens kulu = ViewBag.TravelExpenses[0];
                if (kulu.Confirmed == true)
                {
                    <p style="color:green">The expenses are reimbursed.</p>
                }
                else if (kulu.Confirmed == null)
                {
                    using (Html.BeginForm("Reimburse", "Travels", new { id = Model.TravelID }))
                    {
                        <input type="submit" name="button" class="btn btn-travelhen" value="Confirm reinbursement." />
                    }
                }
                else
                {
                    <p style="color:red">The trip has been denied by the manager.</p>
                }
            }
            else
            {
                <p style="color:blue">No expenses to reimburse.</p>
            }
        }
        else
        {
            <p style="color:red">Please have this trip confirmed by the manager.</p>
        }
    }
}

