﻿@model TravelHen_Auth.Travel
<table class="table travelhen_table_wfoot">
    <thead>
        <tr>
            <th>
                Related expenses
            </th>
            <th>
                Cost
            </th>
            <th>
                Attached files
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{decimal total = 0;}
        @if (ViewBag.TravelExpenses != null)
        { 
           foreach (TravelExpens expense in ViewBag.TravelExpenses)
            {
                <tr>
                    <td>
                        @expense.Expens.ExpenseName
                    </td>
                    <td>
                        @expense.Cost
                    </td>
                    <td>
                        @if (expense.File == null)
                        {
                            if (expense.ExpenseID == 3)
                            {
                                <span class="mehthing">No file attached</span>
                            }
                            else
                            {
                                <span class="notokthing">No file attached</span>
                            }
                        }
                        else
                        {
                            <a href='@Url.Action("Content", "Files", new { id=expense.File.FileID })' target="_blank">
                                <img id="pilt" src='@Url.Action("Content", "Files", new { id=expense.File.FileID })' class="dynamicImage img-rounded" />
                            </a>
                        }
                    </td>
                    <td>
                        @if (HttpContext.Current.Request.RequestContext.RouteData.Values["Action"].ToString() == "Edit")
                        {
                            if (Model.State == null || Model.State == "d")
                            { 
                                @Html.ActionLink("Edit", "../TravelExpens/Edit", new { id = expense.TravelexpenseID }, new { @class = "fancybutton-left" })
                                @Html.ActionLink("Details", "../TravelExpens/Details", new { id = expense.TravelexpenseID }, new { @class = "fancybutton-middle" })
                                @Html.ActionLink("Delete", "../TravelExpens/Delete", new { id = expense.TravelexpenseID }, new { @class = "fancybutton-right" })
                            }
                            else
                            {
                                @Html.ActionLink("Details", "../TravelExpens/Details", new { id = expense.TravelexpenseID }, new { @class = "fancybutton" })
                            }
                        }
                        else if (HttpContext.Current.Request.RequestContext.RouteData.Values["Action"].ToString() == "Details")
                        {
                            @Html.ActionLink("Details", "../TravelExpens/Details", new { id = expense.TravelexpenseID }, new { @class = "fancybutton" })
                        }
                    </td>
                </tr>
                <spin hidden>@{total = total + expense.Cost.Value;}</spin>
            }
         }
    </tbody>
    <tfoot>
        <tr>
            <td>
                Total costs:
            </td>
            <td>
                @total
            </td>
            <td></td>
        </tr>
    </tfoot>
</table>
