﻿@model TravelHen_Auth.TravelExpens

@{
    ViewBag.Title = "Create";
}

<h2>Add travel expense</h2>

@using (Html.BeginForm(Html.BeginForm(
    "Create",
    "TravelExpens",
    FormMethod.Post,
    new { enctype = "multipart/form-data" })))

{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">

            <div class="col-md-10">
                @ViewBag.TravelsIDInfo
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExpenseID, "Expense Type", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ExpenseID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ExpenseID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
                <span class="text-danger">@ViewBag.ErrorMessageCost</span>
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.Confirmed, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Confirmed)
                    @Html.ValidationMessageFor(model => model.Confirmed, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.File, "Attach file", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="file" name="file" class="btn btn-default" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-travelhen" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Travels", $"../Travels", null, new { @class = "fancybutton fancybutton-long" })
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    <script>

        function readURL(input) {

            if (input.files && input.files[0]) {
                $("#file").change(function () {
                    readURL(this);
                });

    </script>
}