﻿@model TravelHen_Auth.TravelExpens

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
@if (Model.Travel.State != "c" || Model.Travel.State != "f")
{
    <h3>Are you sure you want to delete this Travel Expense?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Duration)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Duration)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cost)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cost)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Confirmed)
            </dt>

            <dd>

                @if (Model.Confirmed == true)
                {
                    <span class="okthing">Reimbursement confirmed by Accountant</span>
                }
                else
                {
                    <span class="notokthing">Reimbursement not confirmed by Accountant</span>
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Expens.ExpenseName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Expens.ExpenseName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Travel.Place)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Travel.Place)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-travelhen" />
                @Html.Partial("BackToTravelDetails")
            </div>
        }
    </div>
}
@Html.Partial("BackToTravelDetails")