﻿@model TravelHen_Auth.TravelExpens

@{
    ViewBag.Title = "Details";
}

<h2>Travel Expense Details</h2>

@if (Model.Travel.State == null || Model.Travel.State == "d")
{
    <div class="row">
        <h4>
            @Html.ActionLink("Edit", "Edit", new { id = Model.TravelexpenseID }, new { @class = "fancybutton" })
        </h4>
    </div>

}
<hr />

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Duration)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Duration)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Cost)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Cost)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Confirmed)
    </dt>

    <dd>
        @if (Model.Confirmed == true)
        {
            <span class="okthing">Reimbursement confirmed by Accountant</span>
        }
        else
        {
            <span class="notokthing">Reimbursement not confirmed by Accountant</span>
        }
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Expens.ExpenseName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Expens.ExpenseName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Travel.Place)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Travel.Place)
    </dd>
    <dt>
        Attached files
    </dt>
    @if (Model.File == null)
    {
        <dd>
            <p><b>No file attached</b><br /></p>
        </dd>
    }
    else
    {
        <dd>
            <a href='@Url.Action("Content", "Files", new { id=Model.DocumentID })' target="_blank">
                <img id="pilt" src='@Url.Action("Content", "Files", new { id=Model.DocumentID })' class="dynamicImage img-rounded" />
            </a>
        </dd>
    }

</dl>

<p>
    @Html.Partial("BackToTravelDetails")
</p>
