﻿@model TravelHen_Auth.TravelExpens

@{
    ViewBag.Title = "Edit";
}

<h2>Edit travel expense</h2>

@if (Model.Travel.State == null || Model.Travel.State == "d")
{

    using (Html.BeginForm(Html.BeginForm(
        "Edit",
        "TravelExpens",
        FormMethod.Post,
        new { enctype = "multipart/form-data" })))

    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.TravelexpenseID)

            <div class="row">
                <div class="col-md-6">

                    <div class="form-group" hidden>
                        @Html.LabelFor(model => model.TravleID, "TravleID", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("TravleID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TravleID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ExpenseID, "Expense type", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("ExpenseID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ExpenseID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Cost, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
                            <span class="text-danger">@ViewBag.ErrorMessageCost</span>
                        </div>
                    </div>

                    @if (TravelHen_Auth.Person.GetByEmail(User.Identity.Name).IsInRole("Buchhalter") || TravelHen_Auth.Person.GetByEmail(User.Identity.Name).IsInRole("Admin"))
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => model.Confirmed, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Confirmed, "ConfirmDropdown")
                                @Html.ValidationMessageFor(model => model.Confirmed, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    }
                </div>

                <div class="col-md-6">

                    <div class="form-group">
                        <div class="col-md-10">
                            @*@Html.LabelFor(model => model.File, "Attached photo", htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <p><b>Attached file</b></p>
                        </div>
                    </div>

                    @if (Model.File == null)
                    {


                        <div class="form-group">
                            <input type="file" id="file" name="file" class="btn btn-default" />
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <a href='@Url.Action("Content", "Files", new { id = Model.DocumentID })' target="_blank">
                                <img id="pilt" src='@Url.Action("Content", "Files", new { id = Model.DocumentID })' class="dynamicImage img-rounded" />
                            </a>
                        </div>
                        <div hidden>
                            @Html.EditorFor(model => model.DocumentID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.File, "", new { @class = "text-danger" })
                        </div>
                    }

                    <div>
                        @Html.ActionLink("Select from DB", "SelectFromDB", new { id = Model.TravelexpenseID }, new { @class = "fancybutton fancybutton-long" })
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-travelhen" />
                </div>
            </div>
        </div>
    }
}

<div>
    @Html.Partial("BackToTravelDetails")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    <script>

        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#pilt').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#file").change(function () {
            readURL(this);
        });

    </script>
}
