﻿@model IEnumerable<TravelHen_Auth.TravelExpens>

@{
    ViewBag.Title = "Index";
}

<h2>Travel Expenses</h2>

<table class="table travelhen_table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Travel.Place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expens.ExpenseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                Reimbursed
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (TravelExpens item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Travel.Place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expens.ExpenseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @if (item.Confirmed == true)
                {
                     <span class="okthing">Reimbursement confirmed</span>
                }
                else if (item.Confirmed == false)
                {
                     <span class="notokthing">Reimbursement denied</span>
                }
                else
                {
                     <span class="mehthing">Reimbursement not confirmed</span>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TravelexpenseID }, new { @class = "fancybutton-left" })
                @Html.ActionLink("Details", "Details", new { id = item.TravelexpenseID }, new { @class = "fancybutton-middle" })
                @Html.ActionLink("Delete", "Delete", new { id = item.TravelexpenseID }, new { @class = "fancybutton-right" })
             </td>
        </tr>
        }
    </tbody>
</table>

<script src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>

<script>
    $(function () {
        $("table").stickyTableHeaders();
    });
</script>
