﻿@model TravelHen_Auth.TravelExpens

@{
    ViewBag.Title = "Edit";
}
@if (Model.Travel.State != null || Model.Travel.State != "d")
{
    <h2>Select document for travel expense from database</h2>


    <div class="row">
        <div class="col-md-4">

            <div class="form-group">
                <div class="col-md-10">
                    <p><b>Attached file</b></p>
                </div>
            </div>

            @if (Model.File != null)
            {
                <div class="row">
                    <div class="col-md-3">
                        <a href='@Url.Action("Content", "Files", new { id=Model.DocumentID })' target="_blank">
                            <img src='@Url.Action("Content", "Files", new { id=Model.DocumentID })' class="dynamicImage img-rounded" />
                        </a>
                    </div>
                    <div class="col-lg-2" hidden>
                        @Html.EditorFor(model => model.DocumentID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.File, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
            else
            {
                <p>No file attached</p>
            }

        </div>
    </div>
    <p></p>

    <table class="table travelhen_table">
        <thead>
            <tr>
                <th>
                    Filename
                </th>
                <th>
                    Filetype
                </th>
                <th>
                    Image preview
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.UnusedFiles != null)
            {
                foreach (var fail in ViewBag.UnusedFiles)
                {
                    <tr>
                        <td>
                            @fail.Filename
                        </td>
                        <td>
                            @fail.Filetype
                        </td>
                        <td>
                            <a href='@Url.Action("Content", "Files", new { id = fail.FileID })' target="_blank">
                                <img src='@Url.Action("Content", "Files", new { id = fail.FileID })' class="dynamicImage img-rounded" />
                            </a>
                        </td>
                        <td>
                            @using (Html.BeginForm("SelectFromDB", "TravelExpens", new { id = Model.TravelexpenseID }))
                            {
                                <button type="submit" name="button" value=@fail.FileID class="btn btn-travelhen">Select File</button>
                            }
                            @{Html.EndForm();}
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4">
                        <span>No files to choose from</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


<div>
    @Html.ActionLink("Back to Details", $"/TravelExpens/Details/{Model.TravelexpenseID}", null, new { @class = "fancybutton fancybutton-long" })
</div>

