﻿@model TravelHen_Auth.Expens

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Expens</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExpenseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpenseName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-travelhen" />
        @Html.Partial("BackToTools")
    </div>
    }
</div>
