﻿@model TravelHen_Auth.Expens

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Expens</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExpenseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpenseName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExpenseID }, new { @class = "fancybutton" })
    @Html.Partial("BackToTools")
</p>
