﻿@model IEnumerable<TravelHen_Auth.Expens>

@Html.Partial("../Tools/vilkuvjulla")

<div class="blink_me">
    <p>Ükski link ei tohi lelle lehe peale juhtida!</p>
</div>

<h2>Expense types</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-2cols">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Expens item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpenseName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ExpenseID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ExpenseID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ExpenseID })
                </td>
            </tr>
        }
    </tbody>
</table>
