﻿.navbar-inverse,
a.fancybutton,
a.fancybutton-right,
a.fancybutton-left,
a.fancybutton-middle,
a.fancybutton-left:hover,
a.fancybutton-right:hover,
a.fancybutton-middle:hover,
a.fancybutton:hover,
.btn-travelhen,
.btn-travelhen:hover,
.btn-travelhen:focus,
.btn-travelhen:active,
.btn-travelhen.active,
.open .dropdown-toggle.btn-travelhen,
.btn-travelhen.disabled,
.btn-travelhen[disabled],
fieldset[disabled] .btn-travelhen,
.btn-travelhen.disabled:hover,
.btn-travelhen[disabled]:hover,
fieldset[disabled] .btn-travelhen:hover,
.btn-travelhen.disabled:focus,
.btn-travelhen[disabled]:focus,
fieldset[disabled] .btn-travelhen:focus,
.btn-travelhen.disabled:active,
.btn-travelhen[disabled]:active,
fieldset[disabled] .btn-travelhen:active,
.btn-travelhen.disabled.active,
.btn-travelhen[disabled].active,
fieldset[disabled] .btn-travelhen.active,
.dropdown-menu {
    background-color: royalblue;
}

.nav.navbar-nav li a,
a.fancybutton,
a.fancybutton-right,
a.fancybutton-left,
a.fancybutton-middle {
    color: yellow;
    text-shadow: 2px 2px #000000;
}

.nav.navbar-nav li a {
    font-weight: bold;
}
/*.nav.navbar-nav.navbar-right li a {
    color: hotpink;
}*/
.nav.navbar-nav li a {
    color: #fee610;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: floralwhite;
    background-color: rgba(250, 234, 214, 0.52);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.dynamicImage {
    max-height: 10em;
    max-width: 20em;
    padding: 1px;
    border: 1px solid #021a40;
    background-color: #ff0;
}


/*Värvilised tekstid*/
.okthing {
    color: green;
    font-weight: bold;
}

.notokthing {
    color: red;
    font-weight: bold;
}

.mehthing {
    color: chocolate;
    font-weight: bold;
}

.reimbursed {
    color: darkgreen;
    font-weight: bold;
}

.unsubmitted {
    color: navy;
    font-weight: bold;
}


/*Tabeli välimus*/
/*Üldine*/
.travelhen_table,
.travelhen_table_wfoot {
    width: 100%;
    border-collapse: collapse;
    vertical-align: middle;
    background-clip: padding-box;
}

    .travelhen_table > tbody > tr > td,
    .travelhen_table > tbody > tr > th,
    .travelhen_table > thead > tr > td,
    .travelhen_table > thead > tr > th,
    .travelhen_table_wfoot > tbody > tr > td,
    .travelhen_table_wfoot > tbody > tr > th,
    .travelhen_table_wfoot > thead > tr > td,
    .travelhen_table_wfoot > thead > tr > th {
        border: 0
    }

    .travelhen_table tr td {
        vertical-align: middle !important;
    }


    /*Päis*/
    .travelhen_table thead th,
    .travelhen_table_wfoot thead th {
        background: #b2cdbb;
        color: navy;
    }

    .travelhen_table thead th,
    .travelhen_table_wfoot thead th {
        vertical-align: middle;
    }

    .travelhen_table link,
    .travelhen_table_wfoot link {
        color: yellow;
    }

    .travelhen_table thead th:first-of-type,
    .travelhen_table_wfoot thead th:first-of-type {
        border-top-left-radius: 20px;
    }

    .travelhen_table thead th:last-of-type,
    .travelhen_table_wfoot thead th:last-of-type {
        opacity: 0;
    }
    /*Keha*/
    .travelhen_table_wfoot > tbody > tr:hover > td,
    .travelhen_table_wfoot > tbody > tr:hover > th,
    .travelhen_table > tbody > tr:hover > td,
    .travelhen_table > tbody > tr:hover > th {
        background-color: #f5f5f5;
    }

    .travelhen_table_wfoot > tbody > tr > td.success:hover,
    .travelhen_table_wfoot > tbody > tr > th.success:hover,
    .travelhen_table_wfoot > tbody > tr.success:hover > td,
    .travelhen_table > tbody > tr > td.success:hover,
    .travelhen_table > tbody > tr > th.success:hover,
    .travelhen_table > tbody > tr.success:hover > td {
        background-color: #d0e9c6;
        border-color: #c9e2b3;
    }

    .travelhen_table tbody tr:nth-child(odd),
    .travelhen_table_wfoot tbody tr:nth-child(odd) {
        background-color: lightgray;
    }

    .travelhen_table tbody tr:nth-child(even),
    .travelhen_table_wfoot tbody tr:nth-child(even) {
        background-color: lightsteelblue;
    }

    .travelhen_table tbody tr:first-child td:last-of-type,
    .travelhen_table_wfoot tbody tr:first-child td:last-of-type,
    .travelhen_table thead th:nth-last-of-type(2),
    .travelhen_table_wfoot thead th:nth-last-of-type(2) {
        border-top-right-radius: 20px;
    }

    .travelhen_table tbody tr:last-child td:first-of-type {
        border-bottom-left-radius: 20px;
    }

    .travelhen_table tbody tr:last-child td:last-of-type,
    .travelhen_table_wfoot tbody tr:last-child td:last-of-type {
        border-bottom-right-radius: 20px;
    }

    /*jalusega tabeli jaoks*/
    .travelhen_table_wfoot tfoot {
        background: #b2cdbb;
        color: red;
        font-weight: bold;
    }

        .travelhen_table_wfoot tfoot tr:last-child td:first-of-type {
            border-bottom-left-radius: 20px;
            text-align: right;
        }

        .travelhen_table_wfoot tfoot tr:last-child td:last-of-type {
            border-bottom-right-radius: 20px;
        }


/*2 tulbaga tabeli jaoks*/
.table-2cols td {
    width: 50%;
}


/*Nupud*/

a.fancybutton,
a.fancybutton-left,
a.fancybutton-middle,
a.fancybutton-right {
    display: table-cell;
    width: 60px;
    height: 33px;
    text-wrap: avoid;
    border-color: black;
    border: 1px solid transparent;
    margin-bottom: 4px;
    text-align: center;
    vertical-align: middle;
}

    a.fancybutton + p {
        display: table
    }

a.fancybutton-left,
a.fancybutton-middle,
a.fancybutton-right {
    padding-top: 5px;
}

a.fancybutton {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

a.fancybutton-med {
    width: 80px;
}

a.fancybutton-long {
    width: 120px;
}

a.fancybutton-left,
a.fancybutton-middle,
a.fancybutton-right {
    margin-right: 1px;
    margin-left: 1px;
    display: inline-block;
}

a.fancybutton-left {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

a.fancybutton-right {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}



.btn-travelhen {
    color: yellow;
    text-shadow: 2px 2px #000000;
    border-color: black;
    border: 1px solid transparent;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

    a.fancybutton-left:hover,
    a.fancybutton-right:hover,
    a.fancybutton-middle:hover,
    a.fancybutton:hover,
    .btn-travelhen:hover,
    .btn-travelhen:focus,
    .btn-travelhen:active,
    .btn-travelhen.active,
    .open .dropdown-toggle.btn-travelhen {
        text-shadow: 1px 1px hotpink;
        font-weight: bold;
        background-color: yellow;
        border-top: 1px solid solid;
        border-color: royalblue;
    }

    .btn-travelhen.disabled,
    .btn-travelhen[disabled],
    fieldset[disabled] .btn-travelhen,
    .btn-travelhen.disabled:hover,
    .btn-travelhen[disabled]:hover,
    fieldset[disabled] .btn-travelhen:hover,
    .btn-travelhen.disabled:focus,
    .btn-travelhen[disabled]:focus,
    fieldset[disabled] .btn-travelhen:focus,
    .btn-travelhen.disabled:active,
    .btn-travelhen[disabled]:active,
    fieldset[disabled] .btn-travelhen:active,
    .btn-travelhen.disabled.active,
    .btn-travelhen[disabled].active,
    fieldset[disabled] .btn-travelhen.active {
        border-color: black;
        border: 1px solid transparent;
    }

a:hover {
    color: black;
}

a:active {
    color: hotpink;
}


/*Vilkuv asi*/
.blink_me {
    animation: blinker 1s linear infinite;
}

    .blink_me p {
        font-size: 3em;
    }

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.flip-card {
    background-color: transparent;
    width: 100px;
    height: 30px;
    perspective: 1000px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back-OK,
.flip-card-back-notOK,
.flip-card-back-meh,
.flip-card-back-unsubmitted,
.flip-card-back-reimbursed {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.flip-card-front {
    background-color: transparent;
    vertical-align: middle;
}

.flip-card-back-OK {
    background-color: green;
    transform: rotateY(180deg);
}

.flip-card-back-notOK {
    background-color: red;
    transform: rotateY(180deg);
}

.flip-card-back-meh {
    background-color: chocolate;
    transform: rotateY(180deg);
}

.flip-card-back-reimbursed {
    background-color: darkgreen;
    transform: rotateY(180deg);
}

.flip-card-back-unsubmitted {
    background-color: navy;
    transform: rotateY(180deg);
}
