﻿@model TravelHen_Auth.Person
@{Person CurrentUser = TravelHen_Auth.Person.GetByEmail(User.Identity.Name); }
@{
    ViewBag.Title = "Details";
}

<h2>Person Details</h2>

<div>
    <h4>
        @Html.ActionLink("Edit", "Edit", new { id = Model.PersonID }, new { @class = "fancybutton" })
    </h4>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.IK)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IK)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Department.DepartmentName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Department.DepartmentName)
                </dd>
            </dl>
        </div>
        <div class="col-md-5">
            @if (Model.File != null)
            {
                <a href='@Url.Action("Content", "Files", new { id=Model.PictureID })' target="_blank">
                    <img id="pilt" src='@Url.Action("Content", "Files", new { id=Model.PictureID })' class="dynamicImage img-circle" />
                </a>
            }
            else
            {
                <a href='~/Content/Images/generichuman.bmp' target="_blank">
                    <img id="pilt" src='~/Content/Images/generichuman.bmp' alt="generic human figure" class="dynamicImage img-circle" />
                </a>
            }
        </div>
    </div>

</div>

<div class="row">
    <div class="col-sm-6">
        <h3>Kasutajale määratud rollid:</h3>
        @foreach (Role r in Model.PersonRoles.Select(x => x.Role))
        {
            <p>@Html.DisplayName(r.RoleName)</p>
        }
    </div>
</div>

@if (CurrentUser.IsInRole("Buchhalter") || CurrentUser.IsInRole("Manager") || CurrentUser.IsInRole("Admin"))
{
    <div>
        @Html.Partial("BackToPeople")
    </div>
}
