﻿@model TravelHen_Auth.Person
@{Person CurrentUser = TravelHen_Auth.Person.GetByEmail(User.Identity.Name); }

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm(Html.BeginForm(
    "Edit",
    "People",
    FormMethod.Post,
    new { enctype = "multipart/form-data" })))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Person</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PersonID)

        <div class="row">
            <div class="col-md-8">

                <div class="form-group">
                    @Html.LabelFor(model => model.IK, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.IK, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.IK, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DepartmentID, "Department Name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("DepartmentID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DepartmentID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                @if (Model.File == null)
                {
                    <div class="form-group">
                        <div class="col-md-10">
                            @*@Html.LabelFor(model => model.File, "Attached photo", htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <p><b>Attached photo</b></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="file" id="file" name="file" class="btn btn-default" accept="image/*" />
                    </div>
                }
                else
                {
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.File, "Attached photo", htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <p><b>Attached photo</b></p>
                    </div>

                    <div class="form-group">
                        <a href='@Url.Action("Content", "Files", new { id=Model.PictureID })' target="_blank">
                            <img id="pilt" src='@Url.Action("Content", "Files", new { id=Model.PictureID })' class="dynamicImage img-rounded" />
                        </a>
                    </div>

                    <div class="form-group">
                        <input type="file" id="file" name="file" class="btn btn-default" accept="image/*" )" />
                    </div>
                    <div hidden>
                        @Html.EditorFor(model => model.PictureID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.File, "", new { @class = "text-danger" })
                    </div>
                }
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-travelhen" />
                </div>
            </div>

        </div>


    </div>
}

@if (CurrentUser.IsInRole("Buchhalter") || CurrentUser.IsInRole("Manager") || CurrentUser.IsInRole("Admin"))
{
    <div class="row">
        <div class="col-sm-6">
            <h3>Assigned roles:</h3>
            @foreach (var r in Model.PersonRoles.Select(x => x.Role))
            {
                <p>@Html.ActionLink($"- {r.RoleName}", "RemoveRole", new { id = Model.PersonID * 1000 + r.RoleID })</p>
            }
        </div>
        <div class="col-sm-6">
            <h3>Võimalikud rollid:</h3>
            @foreach (var r in ViewBag.Roles)
            {
                <p>@Html.ActionLink($"+ {r.RoleName}", "AddRole", new { id = Model.PersonID * 1000 + r.RoleID })</p>
            }
        </div>
    </div>


    <div>
        @Html.Partial("BackToPeople")
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
