﻿@*@model IEnumerable<TravelHen_Auth.Person>*@
@model PagedList.IPagedList<TravelHen_Auth.Person>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Employees</h2>

<p>
    @Html.ActionLink("Add New", "Create", null, new { @class = "fancybutton fancybutton-med" })
</p>
<p>
    @using (Html.BeginForm())
    {
        <span>Find by name, email, national ID or department: </span>
        <div class="row">
            <div class="col-md-3">
                @Html.TextBox("SearchString", null, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                <input type="submit" value="Search" class="btn btn-travelhen" />
            </div>
        </div>
    }
</p>
<table class="table travelhen_table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("National ID", "Index", new { sortOrder = ViewBag.Isikukoodsort })
            </th>
            <th>
                @Html.ActionLink("First name", "Index", new { sortOrder = ViewBag.FirstNameSort })
            </th>
            <th>
                @Html.ActionLink("Last name", "Index", new { sortOrder = ViewBag.LastNameSort })
            </th>
            <th>
                @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.EmailSort })
            </th>
            <th>
                @Html.ActionLink("Department", "Index", new { sortOrder = ViewBag.DepartmentSort })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Person item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IK)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PersonID }, new { @class = "fancybutton-left" })
                    @Html.ActionLink("Details", "Details", new { id = item.PersonID }, new { @class = "fancybutton-middle" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.PersonID }, new { @class = "fancybutton-right" })
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page }))
