﻿@model IEnumerable<TravelHen_Auth.Models.ImageList>

<ul style="list-style:none; " class="row">
    @foreach (var item in Model)
        {
        <li class="col-md-3">
            <br />
            <img class="img" src="@Url.Action("GetImage", "DownloadFile", new { Area = "", Id = item.WebImageId, t = 2 })"
                 style="width:100%;height:180px;" />
            <br />
            <label>@item.Title</label>
            <br />
            <br />
        </li>
          }
        
</ul>
