﻿@model IEnumerable<TravelHen_Auth.Models.Audit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IPAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AreaAccessed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeAccessed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IPAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AreaAccessed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeAccessed)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AuditID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AuditID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AuditID })
        </td>
    </tr>
}

</table>
