﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-4">
        <img src="~/Content/Images/TravelHen.jpg" alt="TravelHen" align="middle" />
    </div>
    <div class="col-md-4">
        <p style="font-size:8em; text-align:center">旅<br />の<br />ヘ<br />ン</p>
    </div>
</div>

<div class="blink_me"><p><a href="../Account/Register">Try it NOW and join litteraly a handful of happy users!</a></p></div>

