﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    TravelHen<br />
    Lõõtsa 8, 11415 Tallinn<br /><br />Estonia
    <abbr title="Phone">P:</abbr>
    112 - they might care
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:info@vali-it.ee">Info@Vali-IT.ee</a><br />
    <strong>Marketing:</strong> NONE
</address>