﻿@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}

<div class="table travelhen_table">
    @{ if (!User.Identity.IsAuthenticated)
        {
            <h1>Hello, unknown!</h1>
        }
        else if (TravelHen_Auth.Person.GetByEmail(User.Identity.GetUserName()) == null)
        {
            <h3>Hello, Unfortunately you are nor a registered employee. Please speak to your team manager.</h3>
        }
        else
        {
            <h1>Hello, @TravelHen_Auth.Person.GetByEmail(User.Identity.GetUserName()).FirstName</h1>

            <table class="table travelhen_table">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Place
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Start date
                        </th>
                        <th>
                            End date
                        </th>
                        <th>
                            State
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in ViewBag.UserTravels)
                    {
                        <tr>
                            <td>
                                @TravelHen_Auth.Models.Vahendid.FullNamer(item.Person.LastName, item.Person.FirstName)
                            </td>
                            <td>
                                @item.Place
                            </td>
                            <td>
                                @item.Description
                            </td>
                            <td>
                                @item.StartDate.ToString("d MMM yyyy")
                            </td>
                            <td>
                                @item.EndDate.ToString("d MMM yyyy")
                            </td>
                            <td>
                                @switch (item.State)
                                {
                                    case null:
                                        <div class="flip-card">
                                            <div class="flip-card-inner">
                                                <div class="flip-card-front">
                                                    <span class="unsubmitted">Not submitted</span>
                                                </div>
                                                <div class="flip-card-back-unsubmitted">
                                                    <span style="font-size:2em">🤔💻</span>
                                                </div>
                                            </div>
                                        </div>
                                        break;
                                    case "s":
                                        <div class="flip-card">
                                            <div class="flip-card-inner">
                                                <div class="flip-card-front">
                                                    <span class="mehthing">Submitted</span>
                                                </div>
                                                <div class="flip-card-back-meh">
                                                    <span style="font-size:2em">😰🤞</span>
                                                </div>
                                            </div>
                                        </div>
                                        break;
                                    case "c":
                                        <div class="flip-card">
                                            <div class="flip-card-inner">
                                                <div class="flip-card-front">
                                                    <span class="okthing">Approved</span>
                                                </div>
                                                <div class="flip-card-back-OK">
                                                    <span style="font-size:2em">😊👍</span>
                                                </div>
                                            </div>
                                        </div>
                                        break;
                                    case "d":
                                        <div class="flip-card">
                                            <div class="flip-card-inner">
                                                <div class="flip-card-front">
                                                    <span class="notokthing">Denied</span>
                                                </div>
                                                <div class="flip-card-back-notOK">
                                                    <span style="font-size:2em">😞👎</span>
                                                </div>
                                            </div>
                                        </div>
                                        break;
                                    case "f":
                                        <div class="flip-card">
                                            <div class="flip-card-inner">
                                                <div class="flip-card-front">
                                                    <span class="reimbursed">Reimbursed</span>
                                                </div>
                                                <div class="flip-card-back-reimbursed">
                                                    <span style="font-size:2em">😊👌</span>
                                                </div>
                                            </div>
                                        </div>
                                        break;
                                }
                            </td>
                            <td>
                                @if (((item.State == null || item.State == "d")
                                && (@TravelHen_Auth.Person.GetByEmail(User.Identity.GetUserName()).PersonID == item.Person.PersonID || @TravelHen_Auth.Person.GetByEmail(User.Identity.GetUserName()).IsInRole("Buchhalter")))
                                || (item.State == "s" && @TravelHen_Auth.Person.GetByEmail(User.Identity.GetUserName()).IsInRole("Manager")))
                                {
                                    @Html.ActionLink("Edit", "../Travels/Edit", new { id = item.TravelID }, new { @class = "fancybutton-left" })
                                    @Html.ActionLink("Details", "../Travels/Details", new { id = item.TravelID }, new { @class = "fancybutton-middle" })
                                    @Html.ActionLink("Delete", "../Travels/Delete", new { id = item.TravelID }, new { @class = "fancybutton-right" })
                                }
                                else if (item.State == "c" && @TravelHen_Auth.Person.GetByEmail(User.Identity.GetUserName()).IsInRole("Buchhalter"))
                                {
                                    @Html.ActionLink("Edit", "../Travels/Edit", new { id = item.TravelID }, new { @class = "fancybutton-left" })
                                    @Html.ActionLink("Details", "../Travels/Details", new { id = item.TravelID }, new { @class = "fancybutton-right" })
                                }
                                else
                                {
                                    @Html.ActionLink("Details", "../Travels/Details", new { id = item.TravelID }, new { @class = "fancybutton" })
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }

</div>

<div class="jumbotron">
    <h1>Vali IT!</h1>
    <p class="lead">Vali IT makes us smart</p>
    <p><a href="http://vali-it.ee/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

