﻿@model TravelHen_Auth.Log

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Log</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeAccessed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeAccessed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOGDESC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOGDESC)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
