﻿@*@model IEnumerable<TravelHen_Auth.Log>*@
@model PagedList.IPagedList<TravelHen_Auth.Log>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("UserID")
        </th>
        <th>
            @Html.DisplayName("User name")
        </th>
        <th>
            @Html.DisplayName("Time Accessed")
        </th>
        <th>
            @Html.DisplayName("Log Description")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayName(TravelHen_Auth.Person.GetByID(item.UserID).FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeAccessed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LOGDESC)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.Id }) @*|*@
                @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
            </td>
        </tr>
    }



</table>
<br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))

